
.imageShopProducts{
    width: 100px;
    height: 100px;
}

.ownedProducts{
    display: flex;
    margin-top: 10px;
    gap:5px;
}

.approxWidth{
    width: 450px;
    padding: 0 50px 0 10px;
}


.imageButtons{
    width: 150px;
}

.HeadingsForEdit{
    display: flex;
    flex-direction: row;
    padding: 20px 150px 0 0;
    font-weight: bold;
}
