
.imageCarousel{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.tinyImage{
    width:100px;
    height: 100px;
    object-fit: cover;
}
.productDetails{
    display:flex;
    justify-content: space-between;
    padding: 10px;
}

.productImageOnDetails{
    height: 500px;
    width:500px;
}

.moreFromThisShopImages{
    height: 150px;
    width:150px;
}

.productComments{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid lightgrey;
    padding:10px;
}

.commentUserImage{
    display:flex;
    flex-direction: row;
    align-items: center;

}

.userImageDetails{
    width: 60px;
    height: 60px;
    border-radius:50%;
}

.shopDetailsOtherProducts{
    padding-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
}

.headersProductDetails{
    background-image: url("https://images.pexels.com/photos/18229795/pexels-photo-18229795/free-photo-of-red-leaves-on-a-tree.jpeg");
    background-size: cover;
    font-size: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 5px solid black;
}

.productDetailsFunction{
    padding-right: 50px;
    padding-top: 10px;
}

.addToCartProductDetails{
    background-color: black;
    color:white;
    border: 2px solid whitesmoke;
    border-radius: 100px;
}

.buyItNowProductDetails{
    background-color: white;
    color:black;
    border: 2px solid black;
    border-radius: 100px;

}

.productDetailsButtons{
    display: flex;
    flex-direction: column;
}
