

.commentNothing{
    padding-top: 30px;
}

.commentButtonsTwo{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.hold{
    display: flex;
    gap:10px;
}
.imageCarousel{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.tinyImage{
    width:100px;
    height: 100px;
    object-fit: cover;
}

.editProductModal{
    cursor: pointer;
}

.messageShopOwner{
    cursor: pointer;
}

.productDetails{
    display:flex;
    justify-content: space-between;
    padding: 10px;
}

.productDetailsSideInformation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2%
}

.justTheName{
    font-size: x-large;
}

.justTheNameDes{
    font-size: larger;
}

.justThePrice{
    font-weight: bold;
    font-size: larger;
}

.productImageOnDetails{
    height: 519px;
    width:519px;
}

.moreFromThisShopImages{
    height: 150px;
    width:150px;
}

.productComments{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid lightgrey;
    padding:10px;
}

.commentUserImage{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}

.userImageDetails{
    width: 60px;
    height: 60px;
    border-radius:50%;
}

.shopDetailsOtherProducts{
    padding-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.headersProductDetails{
    /* background-image: url("https://images.pexels.com/photos/18229795/pexels-photo-18229795/free-photo-of-red-leaves-on-a-tree.jpeg");
    background-size: cover; */
    font-size: 40px;
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-bottom: 5px solid maroon;
}

.productDetailsFunction{
    padding-right: 50px;
    padding-top: 10px;
}

.addToCartProductDetails{
    background-color: black;
    color:white;
    border: 2px solid whitesmoke;
    border-radius: 100px;
    cursor: pointer;
}

.buyItNowProductDetails{
    background-color: white;
    color:black;
    border: 2px solid black;
    border-radius: 100px;
    cursor: pointer;

}

.productDetailsButtons{
    display: flex;
    flex-direction: column;
}
