

.productDetails{
    display:flex;
    justify-content: space-between;
    padding: 10px;
}

.productImageOnDetails{
    height: 500px;
    width:500px;
}

.moreFromThisShopImages{
    height: 150px;
    width:150px;
}

.productComments{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid lightgrey;
    padding:10px;
}

.commentUserImage{
    display:flex;
    flex-direction: row;
    align-items: center;

}

.userImageDetails{
    width: 60px;
    height: 60px;
    border-radius:50%;
}
