

.productImageOneShop{
    width: 200px;
    height: 150px;
}

.imageOneShop{
    width: 100%;
    object-fit: cover;
    height:200px;
    padding-top: 20px;

}

.shopInformation{
    display: flex;
    flex-direction: column;
    align-items: center;
}
