
* {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

.heartStyle{
    background-color: white;
    border: none;
    border-radius: 25px;
    color:maroon;
    cursor: pointer;
}

.heartStyle:hover{
    background-color: lightgray;
    height:50px;
    width:50px;
    border-radius: 25px;
}

.allProducts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    gap:10px;
    padding: 1%;
}

.product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    border: none;
    color:black;
    cursor:pointer;
}

.productPrice{
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: black;
    color: red;
    font-weight: bold;
}

.productImage{
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.landingShopsButton{
    background-color: white;
    border: none;
    padding: 10px;
    cursor: pointer;


}

.landingShopsInside{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.landingShopName{
    font-weight: bold;
}

.headersProductDetailsLanding{

    background-image: url("https://images.pexels.com/photos/18229795/pexels-photo-18229795/free-photo-of-red-leaves-on-a-tree.jpeg");
    background-size: cover;
    font-size: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 5px solid black;
    margin-top: 10px;
    margin-right: 10px;
    height:500px;
    cursor: pointer;
}




.roundImages{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    object-fit: cover;
}

.roundImages:hover{
    border: 5px solid maroon;
}

.roundImagesButton{
    border: none;
    background-color: white;
    cursor: pointer;
}

.roundImagesDiv{
    display: flex;
    justify-content: space-evenly;
}

.landingShops{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20 0 20;
}
