
* {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

.far.fa-heart, .fas.fa-heart{
    font-size: 35px;
    color: maroon;
}

.newestProd{
    padding-top: 2%;

}

.heartStyleProduct{
    background-color: white;
    border:none;
    height: 60px;
    width: 60px;
    position:absolute;
    /* padding-top: 10px; */
    border-radius: 100px;
}

.heartStyleProduct:hover{
    background-color: lightgrey;
    height:60px;
    width:60px;
    border-radius: 100px;
    border: none;
}

.heartStyle{
    background-color: white;
    height: 60px;
    width: 60px;
    border-radius: 100px;
    border: none;
    position: absolute;
    /* top:10px;
    right:10px; */
}

.heartStyle:hover{
    background-color: lightgray;
    height:60px;
    width:60px;
    border-radius: 100px;
    border: none;
}

.allProducts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
    padding-bottom: 5%;
    align-items: center;
    /* justify-content: center; */
}

.product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    border: none;
    color:black;
    cursor:pointer;
    padding-top: 5%;
}

.productPrice{
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: black;
    color: red;
    font-weight: bold;
}

.productImage{
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.landingShopsButton{
    background-color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.landingShopsInside{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.landingShopName{
    font-weight: bold;
}

.headersProductDetailsLanding{

    /* background-image: url("https://images.pexels.com/photos/18229795/pexels-photo-18229795/free-photo-of-red-leaves-on-a-tree.jpeg");
    background-size: cover; */
    font-size: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 5px solid black;
    margin-top: 10px;
    margin-right: 10px;
    height:500px;
    cursor: pointer;
}

.shopsIcon{
    position: relative;
}

.spacedDiv{
    padding-top: 5%;
    /* padding-right: 5%;
    padding-left: 5%; */
}

.hello{
    border: 5px solid maroon;
}

.roundImages{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    object-fit: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.roundImages:hover{
    border: 5px solid maroon;
    border-radius: 60px;
}

.roundImagesButton{
    border: none;
    background-color: white;
    cursor: pointer;
    padding-top: 20px;
}

.roundImagesDiv{
    display: flex;
    justify-content: space-evenly;
}

.landingShops{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
    padding-bottom: 3%;
}
