.profile-dropdown {
  position: absolute;
  top:30%;
  left:30%;
  padding: 10%;
  display: flex;
  flex-direction: column;
  border: 10px solid black;
  background-color: whitesmoke;
  background-image: url("https://images.pexels.com/photos/18229795/pexels-photo-18229795/free-photo-of-red-leaves-on-a-tree.jpeg");
  background-size: cover;
}

.hidden {
  display: none;
}

.NavBar{
  display: flex;
  flex-direction: column;
  background-image: url("https://images.pexels.com/photos/18229795/pexels-photo-18229795/free-photo-of-red-leaves-on-a-tree.jpeg");
  background-size: cover;
}

.NavCartHome{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  size: 70px;
}

.Home{
  font-size: 70px;
  color:whitesmoke;
  text-decoration: none;
}

.Cart{
  display: flex;
  justify-content:flex-end;
  align-items: center;
  color:white
}
