.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.NavBar{
  display: flex;
  flex-direction: column;
  background-image: url("https://images.pexels.com/photos/18229795/pexels-photo-18229795/free-photo-of-red-leaves-on-a-tree.jpeg");
  background-size: cover;
}

.Home{
  font-size: 50px;
  color:whitesmoke;
  text-decoration: none;
}


